## Networking options
# CONFIG_MPTCP is not set
### Network packet filtering framework (Netfilter)
#### Core Netfilter Configuration
CONFIG_NF_CONNTRACK_SECMARK=y
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=m
CONFIG_NETFILTER_XT_TARGET_SECMARK=m
####
###
# CONFIG_ATM is not set
# CONFIG_L2TP is not set
# CONFIG_BRIDGE is not set
# CONFIG_ATALK is not set
# CONFIG_6LOWPAN is not set
# CONFIG_IEEE802154 is not set
# CONFIG_BATMAN_ADV is not set
# CONFIG_OPENVSWITCH is not set

### Network testing
# CONFIG_NET_PKTGEN is not set
###
##
# CONFIG_HAMRADIO is not set
# CONFIG_NET_9P is not set
# CONFIG_NFC is not set